<?xml version="1.0"?>

<model>
  <name>potholes</name>
  <version>1.0</version>
  <sdf version="1.8">model.sdf</sdf>

  <author>
    <name>Grzegorz Cielniak</name>
    <email>gcielniak@lincoln.ac.uk</email>
  </author>

  <description>
  This is a pothole scenario in urban environment with realistic apparance of potholes.
  </description>
</model>
